body {
    font-size: 15pt;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
}
*{
  margin: 0;
  padding: 0;
}
div{
  width: 80%;
  margin: 20px 0 0 0;
}
li{
  list-style: none;
  padding: 10px;
}
.phonepe li{
  background-color: #5E249F;
}
.paytm li{
  background-color: #00b8f6;
}
.gpay li{
  background-color: #4386f7;
}
.nsdl li{
  background-color: #db9816;
}
a{
  text-decoration: none;
  color: white;
}